<h2>My Cart</h2>

<div *ngIf='cart'>
  <div class='product-list'>
    <div *ngIf='cart.products.length === 0'>No elements in your cart</div>
    <div *ngFor='let cartElement of cart.products'>
      <div class='product-card'>
        <h3 class='product-card__title'>{{cartElement.product.name}}</h3>
        <div class='product-card__price'>{{cartElement.product.price | currency}}</div>
        <p class='product-card__briefdescription'>{{cartElement.product.brief_description}}</p>
        <a [routerLink]="['/products', cartElement.product.slug]">Details</a>
        <input type="number" placeholder="Quantity" keyboardType="number" [(ngModel)]='cartElement.quantity'/>
        <button (click)='updateQuantity(cartElement)'>Update</button>
        <button (click)='removeProduct(cartElement)'>Remove</button>
      </div>
    </div>

  </div>
</div>
